#PEMS
*.pem

#DATABASE
db/*


#Python .pyc Files
*.pyc


#Scripts tar ball
*.tar*


#Profiles
profiles

#Data configuration flies
data_configs

#synth comm arrays
synth_comm_array_files

#cloud configuration files
cloud_configs/aristotle
cloud_configs/aws/*


#DS store
.DS_Store

#image bundling logs
image_bundle/image_bundle_logs

#Datasets
susy
synth_*_*
higgs
url-combined

#Server logs
server_logs

#Node modules
node_modules

#MongoDB
mongodb

#package.json Lock
*package-lock.json

