#CONFIG FILES
*.ini

#PEMS
*.pem

#DATABASE
*/db/*
db/*

#CONFIG SCRIPTS
*cloud_configs*

#HOSTFILES
*host*

#S3 Config Files
*s3cfg

#Python .pyc Files
*.pyc

#Cache Files
*check_sum*

#Scripts tar ball
*.tar*

#Data Chunks
temp_data_chunks/*

#Experiment Data
experiment_data/*

#Staleness Data
staleness_data/*

#Dump File for Debugging
dump_file

#File for s3 Error Checking
s3error_check

#Profiles
profiles/*

#Data configuration flies
data_configs/*
