#CONFIG FILES
*.ini

#PEMS
*.pem

#DATABASE
*/db/*
db/*

#HOSTFILES
*host*

#S3 Config Files
*s3cfg

#Python .pyc Files
*.pyc


#Scripts tar ball
*.tar*


#Profiles
profiles/Reservation*
profiles/cloud_machine_request_logs/*

#Data configuration flies
data_configs/*

#synth comm arrays
synth_comm_array_files/*

#output logs
output_logs/*

#cloud configuration files
*cloud_configs/aristotle
*cloud_configs/aws
*cloud_configs/which_cloud.py

#DS store?
.DS_Store

#image bundling logs
image_bundle/image_bundle_logs/*

#Datasets
susy
synth_*_*
higgs
url-combined
