<!-- Unhardcode this when ready. -->
<tr>
    <td id='profile-prediction-row-col-1'></td>
    <td id='profile-prediction-row-col-2'></td>
    <td id='profile-prediction-row-col-3'></td>
    <td id='profile-prediction-row-col-4'></td>
    <td id='profile-prediction-row-col-5'></td>
</tr>
