<!-- Table for dataset profile. -->
<div style="display:none" id="profile-prediction-div">
    <h2>Predictions</h2>
    <div style="display:none" class="loader" id="dataset-profile-loader"></div>
    <table id="profile-prediction-table" cellspacing='0'>
        <thead>
            <tr>
            <th>Overheads (seconds)</th>
            <th>Communication Time (%)</th>
            <th>Time Spent Profiling (seconds)</th>
            <th>Time Saved (%)</th>
            <th>Projected Epochs for 1 Hour</th>
            </tr>
        </thead>

        <% include /profile_predictions_row %>

    </table>
</div>