<!-- Table for dataset profile. -->
<div style="display:none" id="profile-schedule-div">
    <h2>Schedule</h2>
    <div style="display:none" class="loader" id="dataset-profile-loader"></div>
    <table cellspacing='0'>
        <thead>
            <tr>
            <th>Total Time</th>
            <th>Epochs per hour</th>
            <th>Cost</th>
            </tr>
        </thead>

        <% include /profile_predictions_row %>

    </table>
</div>