<!-- Table for profile info. -->

<h2 id="profile-info-header">Profile Information</h2>
<div style="display:none" class="loader" id="profile-info-loader"></div>


<table id="profile-table" cellspacing='0'>
    <thead>
        <tr>
        <th>Profiling Budget</th>
        <th>Machine Type</th>
        <th>Max Worker Count to Profile</th>
        <th>Number of Machines to Request</th>
        <th>Spot Market Bid Price per Machine</th>
        <th>Actual Price</th>
        <th>Total Profiling Cost</th>
        </tr>
    </thead>

    <tr id="profile-info-table-row">
        <td id='profile-table-row-col-1'></td>
        <td id='profile-table-row-col-2'></td>
        <td id='profile-table-row-col-3'></td>
        <td id='profile-table-row-col-4'></td>
        <td id='profile-table-row-col-5'></td>
        <td id='profile-table-row-col-6'><div class="loader" id="actual-price-loader"></div></td>
        <td id='profile-table-row-col-7'><div class="loader" id="total-price-loader"></div></td>
    </tr>

</table>