<!DOCTYPE html>

<head>
    <!-- Fonts and styles. -->
    <link href=http://fonts.googleapis.com/css?family=Dosis rel=stylesheet type=text/css />
    <link rel="stylesheet" type="text/css" href="/css/table.css" title="Table" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/d3_timeseries.css" title="Table" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/loader.css" title="Table" media="all" />

    <script src="/javascript/multiple/all_pages.js" charset="utf-8"></script>
    <script src="/javascript/profile/profile.js" charset="utf-8"></script>

    <!-- JS for timeseries. -->
    <script src="/javascript/profile/d3.min.js" charset="utf-8"></script>
    <script src="/javascript/profile/d3_timeseries.js"></script>

</head>

<body>
    <!-- Table for dataset profile. -->
    <% include /back_button %>

    <!-- Table for dataset profile. -->
    <% include ../multiple/dataset_table %>

    <!-- Table for info regarding the profile. -->
    <% include /profile_table %>

    <!-- Timeseries for profiling. -->
    <% include /profile_timeseries %>

    <!-- Time Predictions and Cost. -->
    <% include /profile_predictions %>

</body>


<!-- JS to add timeseries to HTML. -->
<script src="/javascript/profile/profile_timeseries.js"></script>