<!-- Table for dataset profile. -->

<h2 style="display: none" id="dataset-info-header">Dataset Information</h2>
<div style="display: none" class="loader" id="dataset-profile-loader"></div>

<table style="display: none" id="data-table" cellspacing='0'>
    <thead>
        <tr>
        <th>Dataset Name</th>
        <th>S3URL</th>
        <th>Size</th>
        <th>Number of Samples</th>
        <th>Max Number of Features</th>
        <th>Machine Type</th>
        <th>Spot Market Bid per Machine per Hour</th>
        </tr>
    </thead>

    <tr id="upload-dataset-table-row">
        <td id='dataset-table-row-col-1'></td>
        <td id='dataset-table-row-col-2'></td>
        <td id='dataset-table-row-col-3'></td>
        <td id='dataset-table-row-col-4'></td>
        <td id='dataset-table-row-col-5'></td>
        <td id='dataset-table-row-col-6'></td>
        <td id='dataset-table-row-col-7'></td>
    </tr>

</table>