<!-- Table for dataset profile. -->

<h2 id="dataset-profiles-header" style="display: none">Dataset Profiles</h2>

<table id="dataset-profiles-table" style="display: none" cellspacing='0'>
    <thead>
        <tr>
        <th>Number of Machines</th>
        <th>Price Paid per Machine</th>
        <th>Proposed Spot Market Budget</th>
        <th>Machine Type</th>
        <th>Profile ID</th>
        </tr>
    </thead>

</table>

</div>
