<!-- Table for dataset profile. -->

<h2 id="db-dataset-info-header">Datasets</h2>
<div style="display: none" class="loader" id="db-dataset-profile-loader"></div>

<table id="db-data-table" cellspacing='0'>
    <thead>
        <tr>
        <th>Dataset Name</th>
        <th>Dataset ID</th>
        <th>S3URL</th>
        <th>Size</th>
        <th>Number of Samples</th>
        <th>Max Number of Features</th>
        </tr>
    </thead>

</table>

<div  id="add-dataset">
<br>
  <form method="get" action="/add_dataset">
    <input  id="add-dataset" type="submit" value="Add Dataset">
  </form> 
<br>
</div>